# Игнорировать SSH-ключи и приватные файлы
*.pem
*.key
*.pub
.ssh/

# Игнорировать виртуальные окружения Python
venv/

# Игнорировать файлы macOS
.DS_Store
.vscode

# Игнорировать временные файлы редакторов
*.swp
*.swo
*~

# Игнорировать директории сборки
/site/
/frontend/node_modules
/docs/.obsidian
/target/
