<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Выбор заказа для добавления продукта</title>
</head>
<body>
<h1>Список заказов</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Название спецификации</th>
        <th>Дата заказа</th>
        <th>Действия</th>
    </tr>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}">1</td>
        <td th:text="${order.specificationName}">Спецификация 1</td>
        <td th:text="${order.orderDate}">2025-06-17</td>
        <td>
            <a th:href="@{'/orders/' + ${order.id} + '/add-product'}" class="btn btn-sm btn-outline-success">Добавить продукт</a>
        </td>

    </tr>
</table>
</body>
</html>
